= render 'layouts/header'
.main-wrapper
  .wrappe
    .side-bar
      .side-bar__list マイページ
      .icon-arrow-right
      .side-bar__list 支払い方法
      .side-bar__list 発送元・お届け先住所変更
      .side-bar__list 出品した商品ー出品中
      .side-bar__list 出品した商品ー売却済み
      .side-bar__list 購入した商品ー購入済み
      .side-bar__list ログアウト
    .main-contents
      .my-page
        .my-page__user
          .my-page__user__icon
          .my-page__user__name ユーザー名
          .my-page__user__number
            .my-page__user__number__like 評価 0
            .my-page__user__number__item 出品数 0
      .notification-todo
        .notification お知らせ
        .todo-list やることリスト
      .logout-form
        = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-form__btn'
.display-btn
  = link_to "", "#"
  %span.display-btn__text
    = "出品する"
  = link_to image_tag("icon/icon_camera.png")
= render 'layouts/footer'