= render 'layouts/header'
.main-wrapper
  .inner-wrapper
    = render 'users/side-bar'
    .main-contents
      -# 現状使用していないお知らせ、やることリストをコメントアウト。今後使う可能性があるので残しておく
      -# .my-page
      -#   .my-page__user
      -#     .my-page__user__icon
      -#     .my-page__user__name ユーザー名
      -#     .my-page__user__number
      -#       .my-page__user__number__like 評価 0
      -#       .my-page__user__number__item 出品数 0
      -# .notification-todo
      -#   .notification お知らせ
        -# .todo-list やることリスト
      .logout-form
        = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'logout-form__btn'
= render 'layouts/display-btn'
= render 'layouts/footer'