.wrapper
  .header
    = link_to root_path do
      = image_tag 'logo/logo.png'

  .main-buy
    .top
      %h2 購入内容の確認
    .item
      .item__image
        = image_tag 'sample1.png', class: 'item__image'
      .item__detail
        .item__detail__name
          東京オリンピックチケット
        .item__detail__payinfo
          .item__detail__payinfo--price
            ¥4,000
          .item__detail__payinfo--fee
            （税込）送料込み
    .buy-info
      .price
        .price__left
          支払い金額
        .price__right
          ¥4,000
      .user-info
        .user-info__upper
          .user-info__upper__left
            支払い方法
          .user-info__upper__right
            変更する
        .user-info__middle
          クレジットカード
          %br/
          ************0000
          %br/
          有効期限 05/20
        .user-info__bottom
      .user-info
        .user-info__upper
          .user-info__upper__left
            配送先
          .user-info__upper__right
            変更する
        .user-info__middle
          〒123-4567
          %br/
          東京都渋谷区神南1-12-16アジアビル 8F
          %br/
          株式会社div
      .bottom
        = button_to '購入する', class: 'buy-btn'

  = render "items/item-footer"