= render 'layouts/header'
%section.top-img
  .top-img__messages
    %h2.top-img__messages--title
      = "人生を変えるフリマアプリ"
    %p.top-img__messages--text
      = "FURIMAはだれでもかんたんに出品・購入できる"
      %br
      = "フリマアプリです"
    .top-img__messages--btn
      = link_to image_tag("app_store.svg"), "#"
      = link_to image_tag("google_play.svg"), "#"
%section.contents
  %h2.contents__title
    = "FURIMAが選ばれる3つの理由"
  %ul.list
    %li
      .list__info
        %span.number 1
        = link_to image_tag("pict/pict-reason-01.jpg")
      .list__title
        %span 3分
        = "ですぐに出品"
      %p.list__text
        = "スマホで入力するだけで簡単に出品できる！"
    %li
      .list__info
        %span.number 2
        = link_to image_tag("pict/pict-reason-02.jpg")
      .list__title
        %span シンプル
        = "で使いやすい"
      %p.list__text
        = "めんどくさい入力は必要なく、検索も購入もスムーズ！"
    %li
      .list__info
        %span.number 3
        = link_to image_tag("pict/pict-reason-03.jpg")
      .list__title
        = "手数料"
        %span 業界最安
      %p.list__text
        = "最大3%でお得に出品&購入！"
%section.sec-img
  .sec-img__messages
    %h2.sec-img__messages--title
      = "会員数日本一位"
    %p.sec-img__messages--text
      = "FURIMAは、フリマアプリで最も人気。"
      %br
      = "出品・購入回数も業界最多です！"
      %br
      = "ほしかったあの商品に出会えるかもしれません。"
    .sec-img__messages--btn
      = link_to image_tag("app_store.svg"), "#"
      = link_to image_tag("google_play.svg"), "#"
%section.feature
  %h2.feature__title
    = "FURIMAの特徴"
  .feature__contents
    .feature__contents__box
      .feature__contents__box--img
        = link_to image_tag("icon/icon-01.png")
      %h3.feature__contents__box--title
        = "簡単に売り買いできる"
      %p.feature__contents__box--text
        = "スマホひとつで、いつでもどこでも簡単に出品・購入が可能！"
    .feature__contents__box
      .feature__contents__box--img
        = link_to image_tag("icon/icon-03.png")
      %h3.feature__contents__box--title
        = "売上金は即日振込みに対応"
      %p.feature__contents__box--text
        = "午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!"
    .feature__contents__box
      .feature__contents__box--img
        = link_to image_tag("icon/icon-04.png")
      %h3.feature__contents__box--title
        = "様々な支払いに対応"
      %p.feature__contents__box--text
        = "お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。"
%section.products
  %h2.products__title
    = "ピックアップカテゴリー"
  .products-box
    %h3.products-box__sub-title
      = "新規投稿商品"
    .products-box__lists
      - @items.each do |item|
        .product-list
          - item.images.first(1).each do |image|
            .product-list__img
              = link_to item_path(item.id) do
                = image_tag image.image_url.url
          .product-list__box
            .product-list__box--text
              = item.name
            .product-list__box--info
              %ul
                %li
                  = item.price
                %li
                  = "★ 0"
              %p
                = "(税込)"
%section.products
  %h2.products__title
    = "ピックアップブランド"
  .products-box
    %h3.products-box__sub-title
      = "アーカイバ"
    .products-box__lists
      - @items.each do |item|
        .product-list
          - item.images.first(1).each do |image|
            .product-list__img
              = link_to item_path(item.id) do
                = image_tag image.image_url.url
          .product-list__box
            .product-list__box--text
              = item.name
            .product-list__box--info
              %ul
                %li
                  = item.price
                %li
                  = "★ 0"
              %p
                = "(税込)"
= render 'layouts/display-btn'
= render 'layouts/footer'