= render "layouts/header"
.main-page
  .items
    %h1.items__name
      = @item.name
    .items__contents
      .items__contents--image
        %ul.image__main
          %li
            = image_tag @item.images.first.image_url.url, class: "main__image"
            %ul
              - @item.images.each do |image|
                %li
                  = image_tag image.image_url.url, class: "image__list"

      .items__contents--info
        %table.items__contents--info--box
          %tr
            %th
              出品者
            %td
              = link_to "#" do

                = @item.seller.nickname
          %tr
            %th
              カテゴリー
            %td
              = link_to "#" do

                = @item.category.name
          %tr
            %th
              ブランド
            %td
              = link_to "#" do

                = @item.brand.name
          %tr
            %th
              商品の状態
            %td
              = @item.damage.name
          %tr
            %th
              配送料の負担
            %td
              = @item.fee.name
          %tr
            %th
              配送の方法
            %td
              = "未定"
          %tr
            %th
              配送元地域
            %td
              = @item.area.name
          %tr
            %th
              発送日の目安
            %td
              = @item.send_date.name
    .items__price-box
      %span.item-price
        = "￥#{@item.price}"
      %span.item-tax (税込)
      %span.item-fee 送料込み
      - if user_signed_in? && @item.seller_id != current_user.id
        = link_to "購入画面に進む", confirm_item_path(@item.id), class: "items__buy-btn"
      - elsif user_signed_in? && @item.seller_id == current_user.id
        = link_to "商品情報編集", "#", class: "items__edit-btn"
        = link_to "削除", item_path(@item.id), method: :"delete", data: {confirm: "【確認】\n削除すると二度と復活できません。\n本当に削除しますか？"}, class: "items__delete-btn"
      - else
        = link_to "購入画面に進む", new_user_session_path, class: "items__buy-btn"
    .items__comment
      %p.items__comment--main
        =@item.text
    .items__btn
      .items__btn--like
        = "♡ いいね! 0"

  .message-box
    -# - if current_user
    .message-box__main
      - if @comments
        - @comments.each do |comment|
          .main-box
            .main-box__info
              .name
                = comment.user.nickname
              .date
                = comment.created_at
            .main-box__text
              = comment.text
      -#   .main-box__info
      -#     .name testA
      -#     .date 1日前
      -#   .main-box__text
      -#     %p testtesttesttesttest
      -# .main-box
      -#   .main-box__info
      -#     .name testA
      -#     .date 1日前
      -#   .main-box__text
      -#     %p testtesttesttesttest
      -# .main-box
      -#   .main-box__info
      -#     .name testA
      -#     .date 1日前
      -#   .main-box__text
      -#     %p testtesttesttesttest
      -# .main-box
      -#   .main-box__info
      -#     .name testA
      -#     .date 1日前
      -#   .main-box__text
      -#     %p testtesttesttesttest
    .message-box__form
      = form_for @comment do |f|
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        = f.text_area :text, class: "text_area__comment"
        = f.submit "コメントする", class: "text_area__submit"
= render 'layouts/footer'