= render 'layouts/header'
.main-wrapper
  .wrappe
    .side-bar
      .side-bar__list マイページ
      .icon-arrow-right
      .side-bar__list 支払い方法
      .side-bar__list 発送元・お届け先住所変更
      .side-bar__list 出品した商品ー出品中
      .side-bar__list 出品した商品ー売却済み
      .side-bar__list 購入した商品ー購入済み
      .side-bar__list ログアウト
    .cards-content
      .cards-content__upper クレジットカード情報入力
      .cards-content__lower
        .cards-content__lower__wrapper
          .cards-content__lower__wrapper__group
            .cards-content__lower__wrapper__group__name カード番号
            %span.cards-content__lower__wrapper__group__tag 必須
            %input.cards-content__lower__wrapper__group__form{placeholder: " 半角数字のみ"}
            .cards-content__lower__wrapper__group__logo
              =image_tag "logo/logo-visa.png", class:'cards-content__lower__wrapper__group__logo'
              =image_tag "logo/jcb.png", class:'cards-content__lower__wrapper__group__logo'
              =image_tag "logo/diners.png", class:'cards-content__lower__wrapper__group__logo'
              =image_tag "logo/americane.png", class:'cards-content__lower__wrapper__group__logo'
          .cards-content__lower__wrapper__expire
            .cards-content__lower__wrapper__expire__name 有効期限
            %span.cards-content__lower__wrapper__expire__tag 必須
            .cards-content__lower__wrapper__expire__select
              .cards-content__lower__wrapper__expire__select-half
                %select.cards-content__lower__wrapper__expire__select-half__select 
                  %option{ value: "01"}01
                  %option{ value: "02"}02
                  %option{ value: "03"}03
                  %option{ value: "04"}04
                  %option{ value: "05"}05
                  %option{ value: "06"}06
                  %option{ value: "07"}07
                  %option{ value: "08"}08
                  %option{ value: "09"}09
                  %option{ value: "10"}10
                  %option{ value: "11"}11
                  %option{ value: "12"}12
                月
              .cards-content__lower__wrapper__expire__select-half
                %select.cards-content__lower__wrapper__expire__select-half__select
                  %option{ value: "20"}20
                  %option{ value: "21"}21
                  %option{ value: "22"}22
                  %option{ value: "23"}23
                  %option{ value: "24"}24
                  %option{ value: "25"}25
                  %option{ value: "26"}26
                  %option{ value: "27"}27
                  %option{ value: "28"}28
                  %option{ value: "29"}29
                  %option{ value: "30"}30
                年
          .cards-content__lower__wrapper__security
            .cards-content__lower__wrapper__security__name セキュリティーコード
            %span.cards-content__lower__wrapper__security__tag 必須
            %input.cards-content__lower__wrapper__security__form{placeholder: " カード背面4桁もしくは3桁の番号"}
          .cards-content__lower__wrapper__add
            .cards-content__lower__wrapper__add__btn 追加する
.display-btn
  - if user_signed_in?
    = link_to "", new_item_path
    %span.display-btn__text
      = "出品する"
    = link_to image_tag("icon/icon_camera.png"), new_item_path, data: { "turbolinks" => false }
  - else
    = link_to "", new_user_session_path
    %span.display-btn__text
      = "出品する"
    = link_to image_tag("icon/icon_camera.png"), new_user_session_path
= render 'layouts/footer'